@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;500;700&display=swap');

:root {
    --color-one: #DCAE1D;
    --color-two: #CAE4DB;
    --color-three: #7A9D96;
    --color-four: #00303F;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-two);
    font-family: 'Varta', sans-serif;
}

header {
    background-color: var(--color-four);
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links {
    font-size: 32px;
}

.links a {
    color: var(--color-one);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}

.links a.active {
    font-weight: bold;
}

.links a:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--color-three);
    position: absolute;
    left: 0;
    bottom: -1px;
}

.links a:hover::after {
    width: 100%; 
    transition: width 400ms ease-in-out;
}

.card {
    background-color: var(--color-four);
    width: 800px;
    min-height: 400px;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 2px 6px 2px rgb(0, 0, 0, 0.6);

    animation: up 400ms ease-in-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid var(--color-two);
    padding: 16px 0;
}

.details h3, .item div:nth-child(1) {
    color: var(--color-two);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-one);
}

.details .item div:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
    color: var(--color-one);
}

.details .item:last-child {
    border: none;
}

.details .item span {
    padding: 8px 16px;

    background-color: var(--color-one);

    color: var(--color-four);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    border-radius: 8px;
    margin-right: 4px;
    margin-top: 8px;

    display: inline-block;
}


/* FORM */

input {
    width: 100%;
    padding: 4px;

    font-weight: bold;
    font-size: 16px;
    color: var(--color-one);

    background-color: var(--color-four);
    outline: none;
}

input[type="radio"] {
    width: initial;
    margin-right: 8px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"], a.button {
    width: 100%;
    margin-top: 24px;
    padding: 8px 32px;
    
    color: var(--color-four);
    background-color: var(--color-one);

    font-size: 16px;
    
    border-radius: 4px;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}